#resultsCard {
    min-width: 60vw;

}

.container{
    display: flex;
    justify-content: center;
}

#cardHeader{
    display: flex;
    width: 100%;
}

#searchBar{
    width: 70%;
}

IonButton{
    padding-top: 10px;
}
