#resultsCard {
    min-width: 80vw;

}

.container{
    display: flex;
    justify-content: center;
}

#cardHeader{
    display: flex;
    width: 100%;
}

#searchBar{
    width: 70%;
}

#search{
    margin-top: 10px;
}

#searchBarComponent{
    /* color: white; */
}

.imageThumbnail{
    width: 32px;
    max-width: 64px;
    margin: 1%;
    border: solid black 1px;

}

.listItem {
    margin-left: 1%;
}

#modalHeader{
    color: white;
    background-color: #5260ff;
}

.modalHeader{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3880ff;
}

.ion-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeModal{
    width: 100%;
    margin-bottom: 0;
}

/* .qrCode{
    width: 30% !important; 
     height: 35% !important;
 }  */