#resultsCard {
    min-width: 60vw;

}

.container{
    display: flex;
    justify-content: center;
}

#cardHeader{
    display: flex;
    width: 100%;
}

#searchBar{
    width: 70%;
}

#search{
    margin-top: 10px;
}


.imageThumbnail{
    margin: 1%;
    border: solid black;
}

.listItem {
    margin-left: 1%;
}